<button (click)="setVisible()">
    {{visible ? 'Ocultar':'Mostrar'}}
</button>



@if (visible) {
    <h2>{{title}}</h2>
<div>
    {{counter}}
    @if(users != undefined && users.length > 0 ){

        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; index as i">
                    <td>{{i+1}}</td>
                    <td>{{user}}</td>
                </tr>
            </tbody>
    
        </table>

    } @else{
        <div>No hay data en la bd</div>
    }
</div>

} @else {
    <h1>Lo sentimos, no esta disponible la pagina</h1>
}

<app-counter [title]="subTitle" (counterEmmit)="setCounter($event)"></app-counter>

<!-- 
<div *ngIf="visible">
    <table *ngIf="(users != undefined && users.length > 0 )">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; index as i">
                <td>{{i+1}}</td>
                <td>{{user}}</td>
        </tr>
    </tbody>
    
    </table>
</div>

} @else {
   
} -->

<!-- <div *ngIf="visible; else notEnable">
    
    <h2>{{title}}</h2>
    </div>
    
    
    <div *ngIf="visible">
        <table *ngIf="(users != undefined && users.length > 0 ) else isEmpty">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; index as i">
                    <td>{{i+1}}</td>
                    <td>{{user}}</td>
            </tr>
        </tbody>
        
    </table>
    
    <ng-template #isEmpty>
        <div>No existen datos en la bd</div>
    </ng-template>
</div>
<ng-template #notEnable>
    <h2>Lo siento no esta disponible la pagina</h2>
</ng-template>

-->
